.bg-primary {
  background-color: #700000;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* Header Content tag which contains all header materials*/
.header-content {
  text-align: center;
  position: relative;
  margin-left: 18%;
  margin-right: 18%;
  padding-top: 90px;
}

/* Text inside the header */
.header-content-inner p {
  font-weight: 300;
  color: fade(white, 70%);
  font-size: 1.5em;
  margin-bottom: 50px;
  vertical-align: middle;
  display: inline-block;
}

/* Overrides for Bootstrap header tags*/
header {
  position: relative;
  background-position: center;
  background: url('assests/donor.png') no-repeat;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 2px 2px #000;
  background-size: cover;
}
/* ----------------------------- */


/* Second section of Splash page which will contain info about our application*/
#about {
  padding-top: 150px;
  padding-bottom: 150px;
}
/* ----------------------------- */




/* Services is the section of the splash page that has icons with small descriptions*/
#services {
  padding-top: 150px;
  padding-bottom: 150px;
}
/* ----------------------------- */



/* Blood Stock Level styles*/

.stockGreeter {
  text-align: center;
}
/* ----------------------------- */


/* Styling for bar graph in blood stock levels */

.chart {
  border-left:1px solid black;
  border-bottom:1px solid black;
  margin:60px auto;
  position:relative;
  list-style:none;
}

.chartYAxis {
  position:absolute;
  transform:rotate(-90deg);
  transform-origin: bottom left;
  bottom:0;
  padding:5px;
}

.chartXAxis {
  position:absolute;
  top:100%;
  width:100%;
  padding:5px;
}

.chartBar {
  height: 0px;
  background: #700000;
  position: absolute;
  bottom: 0;
  color: white;
  transition-duration: 1s;
}
/* ----------------------------- */

/* re-colors navbar to match site theme */
.navbar{
  margin: -1px -1px -1px -1px;
  background-color: #700000
}

.navbar > .nav > li > a {
  color: white;
}

.navbar > .nav > li > a:focus{
  color: red;
}

.navbar > .nav > li > a:hover {
  color: gray;
}

.navbar {
  border-radius: 0 !important;
}

/* ----------------------------- */

/* Controls styling for bloodmap page */

.map-page {
  margin-top: 30px;
}

#googleMap {
  width: 100%;
  height: 80vh;
}

.feed {
  overflow: hidden;
  padding-right: 0;
}

.feed-content, .feed-new {
  color: #eee;
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.8);
}

.feed-content {
  height: calc(80vh - 125px);
  overflow-y: scroll;
  border-radius: 0 0 5px 5px;
  padding: 0 20px;
  width: calc(100% + 17px);
}

.feed-new {
  height: 125px;
  padding: 20px 20px 0 20px;
  border-radius: 5px 5px 0 0;
}

.feed input[type="text"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}


.feed input[type="submit"] {
  background-color: #700000;
  padding: 5px 20px;
  border: none;
}

.post {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
}

.poster-name {
  font-weight: bold;
}

.post img {
  width: 50px;
  float: left;
  padding: 0 10px 10px 0;
}

#iw_container{
  border-color: #4cae4c;
  width: 200px;

}

#iw_container .iw_title {
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 12px;
 font-weight: 200;
 text-align: center;
 padding: 4px;
 background-color:#700000 ;
 color: white; 

 }

 .btn-default {
    color: #fff;
    background-color:#595959;
    border-color: #700000;
    font-size: 10px;
    text-align: center;
    width: 100px;
    height:30px;
    float: right;
    right: 115px;
  }

 .iw_title, .iw_content{
  width:240;
 }

 #iw_container .iw_content{
  font-family: 'Open Sans Condensed', sans-serif;
 font-size: 11px;

 }


.gm-style-iw {
 position: relative;
 top: 0px ;
 font-size: 8px;
 background-color: #fff7e6;
 border: 1px solid rgba(72, 181, 233, 0.6);
 border-radius: 15px;
 border: 2px solid #700000;
 width: 260px;
  
}
.gm-style-iw {
   overflow: hidden !important; 
   line-height: 1.35;
   white-space: nowrap;
}



