h1, h2, h3, h4, h5, p, div {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.bg-primary {
  background-color: #700000;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* Header Content tag which contains all header materials*/
.header-content {
  text-align: center;
  position: relative;
  margin-left: 18%;
  margin-right: 18%;
  padding-top: 90px;
}

/* Text inside the header */
.header-content-inner p {
  font-weight: 300;
  color: fade(white, 70%);
  font-size: 1.5em;
  margin-bottom: 50px;
  vertical-align: middle;
  display: inline-block;
}

/* Overrides for Bootstrap header tags*/
header {
  position: relative;
  background-position: center;
  background: url('assests/donor.png') no-repeat;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 2px 2px #000;
  background-size: cover;
}
/* ----------------------------- */


/* Second section of Splash page which will contain info about our application*/
#about {
  padding-top: 150px;
  padding-bottom: 150px;
}
/* ----------------------------- */




/* Services is the section of the splash page that has icons with small descriptions*/
#services {
  padding-top: 150px;
  padding-bottom: 150px;
}
/* ----------------------------- */



/* Blood Stock Level styles*/

.stockGreeter {
  text-align: center;
}
/* ----------------------------- */


/* Styling for bar graph in blood stock levels */

.chart {
  border-left:1px solid black;
  border-bottom:1px solid black;
  margin:60px auto;
  position:relative;
  list-style:none;
}

.chartYAxis {
  position:absolute;
  transform:rotate(-90deg);
  transform-origin: bottom left;
  bottom:0;
  padding:5px;
}

.chartXAxis {
  position:absolute;
  top:100%;
  width:100%;
  padding:5px;
}

.chartBar {
  height: 0px;
  background: #700000;
  position: absolute;
  bottom: 0;
  color: white;
  transition-duration: 1s;
}
/* ----------------------------- */

/* re-colors navbar to match site theme */
.navbar{
  margin: -1px -1px -1px -1px;
  background-color: #700000
}

.navbar > .nav > li > a {
  color: white;
}

.navbar > .nav > li > a:focus{
  color: red;
}

.navbar > .nav > li > a:hover {
  color: gray;
}

.navbar {
  border-radius: 0 !important;
}

/* ----------------------------- */

/* Controls styling for bloodmap page */

.map-page {
  margin-top: 30px;
}

#googleMap {
  width: 100%;
  height: 80vh;
}

.feed {
  overflow: hidden;
  padding-right: 0;
}

.feed-content, .feed-new {
  color: #eee;
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.8);
}

.feed-content {
  height: calc(80vh - 125px);
  overflow-y: scroll;
  border-radius: 0 0 5px 5px;
  padding: 0 20px;
  width: calc(100% + 17px);
}

.feed-new {
  height: 125px;
  padding: 20px 20px 0 20px;
  border-radius: 5px 5px 0 0;
}

.feed input[type="text"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}


.feed input[type="submit"] {
  background-color: #700000;
  padding: 5px 20px;
  border: none;
}

.post {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
}

.poster-name {
  font-weight: bold;
}

.post img {
  width: 50px;
  float: left;
  padding: 0 10px 10px 0;
}

#iw_container{
  border-color: #4cae4c;
  width: 200px;

}

#iw_container .iw_title {
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 12px;
 font-weight: 200;
 text-align: center;
 padding: 4px;
 background-color:#700000 ;
 color: white;

}

.btn-default {
  color: #fff;
  background-color:#595959;
  border-color: #700000;
  text-align: center;
}

.iw_title, .iw_content{
  width:240;
}
/*
#iw_container .iw_content{
 color: white;
 }*/

 #iw_container .btn-default {
  color: #fff;
  background-color:#595959;
  border-color: #700000;
  font-size: 10px;
  text-align: left;
  width: 100px;
  height:30px;
  float: right;
  right: 115px;

}

.iw_content{
  font-size: 10px;
  float:right;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: right;
 }

 #iw_container {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 11px;
}


.gm-style-iw {
 position: relative;
 top: 0px ;
 font-size: 8px;
 background-color: #fff7e6;
 border: 1px solid rgba(72, 181, 233, 0.6);
 border-radius: 15px;
 border: 2px solid #700000;
 width: 200px  !important;
 overflow: hidden !important;
 line-height: 1.35;
}


.events {
  margin-top: 20px;
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 20vh;
  padding: 10px 20px;
  color: white;
}

.event {
  padding: 10px 0;
}

.event:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.event h5 {
  margin-bottom: 10px;
}

.event img {
  width: 40px;
  padding: 2px;
  font-size: 8px;
  background-color: #fff7e6;
  border: 2px solid #700000;
}

#street{
  border:1px solid #700000 ;
  float:left;
  width: 50%;
  height: 100%;
}

/* ----------------------------- */

.hospital-blood-panel {
  position: relative;
  left: -40%;
  width: 230%;
  z-index: 99;
  background-color: rgba(255,255,255,0.0);
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  color: white;
  fill: white !important;
}

.panel-body .hospital-blood-panel text, .nvd3 .nv-multibarHorizontal .nv-groups text {
  fill: white !important;
}

.tick line {
  display: none;
}

#floating-panel {
  position: absolute;
  left: -3%;
  bottom: -15px;
  z-index: 99;
  background-color: rgba(255,255,255,0.0);
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}



.iwf{
  border:1px solid #700000 ;
  width:50%;
  float:right;
}

#street img, #street a {
  display: none;

}

.nvd3 .nv-discretebar .nv-groups rect{
  fill-opacity: 1;
}

/* ----------------------------- */

/* Profile styles go here. */

.panel-info {
  border: 0px;
}
.panel-info > .panel-heading {
  color: white;
  background-color: #700000;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.panel-heading > h3 {
  font-size: 1.4em;
}

.profile-table {
  color: white;
}

.img-profile {
  height: 200px;
  width: 200px;
  border: 2px solid #700000;
}

.panel-body {
  background-color: #333333;
  border: 3px solid #700000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  height: 100%;
}

.userInfo-table {
  width: 40%;
  color: white;
  margin-left: 19%;
}
.table-user-information {
  padding-bottom: 20px;
  font-size: 1.1em;
  border-top: none !important;
}

.panel-lower {
  margin-top: 10px;
  width: 100%;
  font-size: 1em;
  padding: 5px;
}

hr {
  margin: 5px;
}
.friends-col {
  width: 100%;
  height: 100%;
  padding: 15px 15px 0px 15px;
  color: white;
  background-color: #333333;
  border: 3px solid #700000 ;
}
.friend-col-outer {
  padding-right: 0px;
  padding-left: 0px;
}
.friends-table th, .friends-table td, .hospitals-table th, .hospitals-table td{
  border-top: none !important;
}

.profile-button {
  background: #700000;
  color: white;
}

.profile-button:hover {
  color: gray;
}

.profile-edit-form {
  color: gray;
}

.profile .events {
  color: white;
}

.toppad {
  padding-top: 10px;
}

.public-hospital-container {
  height: 200%;
}

.profile-info-labels {
  color: #6e99e1;
}

@media only screen and (max-width: 990px) {
  .friend-col-outer {
    margin: 0 auto;
    float: none;
    padding-top: 2%;
  }
  .userInfo-table {
    margin: 0 auto;
  }

  .hospital-blood-panel {
    position: static;
    width: 100%;
    margin: 0 auto !important;
  }
}
/* -----------------------------*/

/* Login page styling */

.login-panel {
  width: 90%;
  max-width: 450px;
  margin: 50px auto;
  color: white;
}

.login-panel > h3, .login-panel > form > p, .login-panel > p {
  text-align: center;
}

.login-panel button {
  margin-top: 15px;
  margin-bottom: 15px;
}
.login-input {
  width: 60%;
  margin-bottom: 15px;
  clear: both;
}

.align-inputs {
  float: left;
  padding-left: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.facebutton-img {
  padding-right: 5px;
}

svg {
  display: block;
}
#chart1 svg {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 50%;
  float: right;
  font: 18px sans-serif;
}


