<div id="navbar">
  <ul class='nav navbar-nav'>
    <li>
      <a href="/bloodmap">Blood Map</a>
    </li>
    <li ng-show="NavCtrl.isDonor || NavCtrl.isHospital">
      <a ng-href="{{NavCtrl.isDonor ? '/profile' : '/hospital/profile'}}">Profile</a>
    </li>
    <li>
      <a ng-hide="NavCtrl.isDonor || NavCtrl.isHospital" href="/donor/login">Log In</a>
      <a ng-show="NavCtrl.isDonor || NavCtrl.isHospital" ng-click="NavCtrl.logout()" href="">Logout</a>
    </li>
    <li>
      <a href="" ng-click="NavCtrl.test()"></a>
    </li>
  </ul>

</div>

