<div id="hospital-edit-container">

  <div ng-hide="HospitalEditCtrl.edit">

    <ul>
      <li>Hospital: {{HospitalEditCtrl.editObj.name}} </li>
      <li>Email: {{HospitalEditCtrl.editObj.email}} </li>
      <li>Location: {{HospitalEditCtrl.editObj.address}} </li>
      <li>Lat: {{HospitalEditCtrl.editObj.latitude}} </li>
      <li>Long: {{HospitalEditCtrl.editObj.longitude}} </li>
    </ul>

  </div>
  <div>
    <button ng-click="HospitalEditCtrl.Edit()">Edit Hospital</button>
  </div>

  <div ng-show="HospitalEditCtrl.edit">
    <h3>Initial Hospital Setup</h3>
    <form ng-submit="HospitalEditCtrl.update()">
      <p>
        Enter your hospital name
        <input type="text" ng-model="HospitalEditCtrl.editObj.name" required/>
      </p>
      <p>
        Enter your hospital email
        <input type="text" ng-model="HospitalEditCtrl.editObj.email" required/>
      </p>
      <p>
        Enter your hospital location
        <input type="text" id="address" ng-model="HospitalEditCtrl.editObj.address" name="address" ng-change="HospitalCtrl.getlatlong()" required/>
      </p>
      <p ng-repeat="bloodType in HospitalEditCtrl.bloodTypes">
        Enter {{bloodType.display}} blood stock level
        <input type="text" ng-model="HospitalEditCtrl.editObj[bloodType.code]" required>
      </p>
      <button>Submit</button>
    </form>
  </div>
</div>

