h1, h2, h3, h4, h5, p, div {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.col-lg-4 {
  /*float: none;*/
}

.bg-primary {
  background-color: #700000;
}



.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

/* Header Content tag which contains all header materials*/

.header-content {
  text-align: center;
  position: relative;
  margin-left: 18%;
  margin-right: 18%;
  padding-top: 90px;
  padding-bottom: 3%;
}

/* Text inside the header */
.header-content-inner p {
  font-weight: 300;
  color: fade(white, 70%);
  font-size: 1.5em;
  margin-bottom: 50px;
  vertical-align: middle;
  display: inline-block;
}

.logopng {
  width: 100%;
  max-width: 400px;
}

/* Overrides for Bootstrap header tags*/
header {
  position: relative;
  background-position: center;
  background: url('/assests/donor.png') no-repeat;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 3px #000, -1px -1px #000, 2px 2px #000;
  background-size: cover;
}
/* ----------------------------- */


/* Second section of Splash page which will contain info about our application*/
#about {
  padding-top: 150px;
  padding-bottom: 150px;
}
/* ----------------------------- */




/* Services is the section of the splash page that has icons with small descriptions*/
#services {
  margin: 200px 0;
}
/* ----------------------------- */

/* Section of the splash page for data viz */

.data-viz {
  padding-top: 5%;
}

#splash-blood-panel {
  margin-top: -10%;
  margin-left: -50px;
  margin-bottom: -20px;
  color: white;
  fill: white !important;
}

#fillgauge2 {
  margin-left: -30px;
  text-align: center;
}

.first-viz {
  margin-left: 20%;
}

#splash-data-viz {
  background-color: #333333;
  text-align: center;
  color: white;
  padding: 200px 0;
}

.visualizer {
  width: 60%;
  margin: auto;
}

.visualizer p {
  margin-top: 20px;
}

/* Blood Stock Level styles*/

.stockGreeter {
  text-align: center;
  margin: 20px 30px;
}
/* ----------------------------- */


/* Styling for bar graph in blood stock levels */

.chart {
  border-left:1px solid black;
  border-bottom:1px solid black;
  margin:60px auto;
  position:relative;
  list-style:none;
}

.chartYAxis {
  position:absolute;
  transform:rotate(-90deg);
  transform-origin: bottom left;
  bottom:0;
  padding:5px;
}

.chartXAxis {
  position:absolute;
  top:100%;
  width:100%;
  padding:5px;
}

.chartBar {
  height: 0px;
  background: #700000;
  position: absolute;
  bottom: 0;
  color: white;
  transition-duration: 1s;
}
/* ----------------------------- */

/* re-colors navbar to match site theme */
.navbar{
  margin: -1px -1px -1px -1px;
  background-color: #700000
}

.navbar > .nav > li > a {
  color: white;
}

.navbar > .nav > li > a:focus{
  color: red;
}

.navbar > .nav > li > a:hover {
  color: red;
}

.navbar {
  border-radius: 0 !important;
}

/* ----------------------------- */

/* Controls styling for bloodmap page */

.map-page {
  margin-top: 30px;
}

#googleMap {
  width: 100%;
  height: 80vh;
}

.feed {
  overflow: hidden;
  padding-right: 0;
}

.feed-content, .feed-new {
  color: #eee;
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.8);
}

.feed-content {
  height: calc(80vh - 125px);
  overflow-y: scroll;
  border-radius: 0 0 5px 5px;
  padding: 0 20px;
  width: calc(100% + 17px);
}

.feed-new {
  height: 125px;
  padding: 20px 20px 0 20px;
  border-radius: 5px 5px 0 0;
}

.feed-new input[type=text] {
  color: #333;
  padding: 5px;
}

.feed input[type="text"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}


.feed input[type="submit"] {
  background-color: #700000;
  padding: 5px 20px;
  border: none;
}

.post {
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
}

.poster-name, .poster-name:hover {
  color: #eee;
  font-weight: bold;
}

.post img {
  width: 50px;
  height: 50px;
  float: left;
  padding: 0 10px 10px 0;
}

#iw_container{
  border-color: #4cae4c;
  width: 200px;

}

#iw_container .iw_title {
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 12px;
 font-weight: 200;
 text-align: center;
 padding: 4px;
 background-color:#700000 ;
 color: white;

}

.btn-default {
  color: #fff;
  background-color:#595959;
  border-color: #700000;
  text-align: center;
}

.iw_title, .iw_content{
  width:240;
}
/*
#iw_container .iw_content{
 color: white;
 }*/

 #iw_container .btn-default {
  color: #fff;
  background-color:#595959;
  border-color: #700000;
  font-size: 10px;
  text-align: left;
  width: 100px;
  height:30px;
  float: right;
  right: 115px;

}

.iw_content{
  font-size: 10px;
  float:right;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: right;
}

#iw_container {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 11px;
}


.gm-style-iw {
 position: relative;
 top: 0px ;
 font-size: 8px;
 background-color: #fff7e6;
 border: 1px solid rgba(72, 181, 233, 0.6);
 border-radius: 15px;
 border: 2px solid #700000;
 width: 200px  !important;
 overflow: hidden !important;
 line-height: 1.35;
}


.profile .events {
  margin-top: 20px;
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 20vh;
  padding: 10px 20px;
  color: white;
}

.map-page .donor-chart {
  margin-top: 20px;
  border: 1px solid #700000;
}

.event {
  padding: 10px 0;
}

.event:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.event h5 {
  margin-bottom: 10px;
}

.event img {
  width: 40px;
  padding: 2px;
  font-size: 8px;
  background-color: #fff7e6;
  border: 2px solid #700000;
}

#street{
  border:1px solid #700000 ;
  float:left;
  width: 50%;
  height: 100%;
}

/* ----------------------------- */

.hospital-blood-panel {
  position: relative;
  z-index: 99;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  color: white;
  fill: white !important;
}

.hospital-profile, .profile {
  margin-top: 20px;
}
.panel-body .hospital-blood-panel text, .nvd3 .nv-multibarHorizontal .nv-groups text, #splash-blood-panel text, .stocks text {
  fill: white !important;
}

.tick line {
  display: none;
}

#floating-panel {
  position: absolute;
  left: -3%;
  bottom: -15px;
  z-index: 99;
  background-color: rgba(255,255,255,0.0);
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}



.iwf{
  border:1px solid #700000 ;
  width:50%;
  float:right;
}

#street img, #street a {
  display: none;

}

.nvd3 .nv-discretebar .nv-groups rect{
  fill-opacity: 1;
}

/* ----------------------------- */

/* Profile styles go here. */

.panel-info {
  border: 0px;
}
.panel-info > .panel-heading {
  color: white;
  background-color: #700000;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.panel-heading > h3 {
  font-size: 1.4em;
}

.profile-table {
  color: white;
}

.profile label {
  display: block;
}

.img-profile {
  height: 200px;
  width: 200px;
  border: 2px solid #700000;
}

.panel-body {
  background-color: #333333;
  border: 3px solid #700000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  height: 100%;
}

.userInfo-table {
  width: 40%;
  color: white;
}
.table-user-information {
  padding-bottom: 20px;
  font-size: 1.1em;
  border-top: none !important;
}

.panel-lower {
  margin-top: 10px;
  width: 100%;
  font-size: 1em;
  padding: 5px;
}

.profile .connections {
  width: 100%;
  height: 80vh;
  color: white;
  background-color: #333333;
  border: 3px solid #700000 ;
}

.profile .panel-body, .profile .connections {
  padding: 10px 15px;
}

.profile h4 {
  margin-bottom: 10px;
}

.profile .friends {
  margin-bottom: 20px;
}

.profile .friend {
  height: 52px;
  border: 1px solid #555;
  margin-bottom: 5px;
  overflow: hidden;
}

.profile .friend a {
  display: block;
  margin-top: 15px;
  color: white;
}

.profile .friend img {
  width: 90px;
  float: left;
  margin-right: 15px;
}


.profile-button {
  background: #700000;
  color: white;
  border: 0.5px solid white;
}

.facebook-btn {
  background: transparent;
  border: none;
  position: relative;
  right: 10px;
}

.profile-button-cancel {
  background: #222222;
  color: white;
  border: 0.5px solid white;
}

.profile-button-cancel:hover {
  color: black;
}
.profile-button:hover {
  color: gray;
}

.profile-button:focus {
  color: gray;
}

.profile-edit-form {
  color: gray;
}

.profile .events, .hospital-profile .events {
  color: white;
}

rzslider .rz-pointer, rzslider .rz-bar.rz-selection {
  background-color: #700000;
}

.reviews {
  color: #eee;
  background-color: #333;
}

.toppad {
  padding-top: 10px;
}

.public-hospital-container {
  height: 200%;
}

.profile-info-labels {
  color: #6e99e1;
}

.profile select {
  display: block;
  margin-bottom: 10px;
}

@media only screen and (max-width: 990px) {
  .friend-col-outer {
    margin: 0 auto;
    float: none;
    padding-top: 2%;
  }

  .hospital-blood-panel {
    position: static;
    width: 100%;
    margin: 0 auto !important;
  }
}

.hospital-profile svg.nvd3-svg {
  width: 115% !important;
  position: relative;
  right: 10%;
}

.hospital-profile input {
  display: block;
  margin: 10px 0;
}

/* Login page styling */

.login-panel {
  width: 90%;
  max-width: 450px;
  margin: 50px auto;
  color: white;
}

.login-panel > h3, .login-panel > form > p, .login-panel > p {
  text-align: center;
}

.login-panel button {
  margin-top: 15px;
  margin-bottom: 15px;
}
.login-input {
  width: 60%;
  margin-bottom: 15px;
  clear: both;
}

.align-inputs {
  float: left;
  padding-left: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.facebutton-img {
  padding-right: 5px;
  height: 35px;
  width: 42px;
}

.signup-text {
  margin: 5px 10px;
}

#chart1 svg {
  height: 100%;
  font: 18px sans-serif;
}

.fc-content:hover {
  color: yellow;
  cursor: pointer;
}

.splash-signup {
  border: 2px solid #700000;
  height: 60px;
  width: 200px;
  background-color: #ffffff;
  font-family: 'Open sans';
  font-size: 1.2em;
  color: #700000;
}

.splash-signup:hover {
  transition: 0.5s;
  background-color: #700000;
  border: 2px solid #ffffff;
  color: white;
}
#splash-leaderboard-panel {
  width: 150%;
  fill: white;
  text: white;
  margin-left: -80px;
}

.splash path {
  margin: 0 auto;
}



@media only screen and (max-width: 1000px) {
 .visualizer {
  /*width: 30%;*/
  margin: 10px auto;
}
.first-viz {
  margin-bottom: 40px;
  margin-right: 50px;
}
#fillgauge2 {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.first-viz {
  margin: 0 auto;
  margin-bottom: 40px;
}
}

@media only screen and (max-width: 991px) {
  .visualizer {
    width: 80%;
    max-width: 300px;
  }
}
.splash-btn-bottom {
  margin-top: 50px;
  height: 50px;
}

.splash-btn-bottom p {
  margin-top: 6px;
  font-size: 1.2em;
}

.nv-legend-symbol {
  display: none;
}

/* Blood Stocks page */
.stocks {
  color: white;
  fill: white;
  margin: 3% auto;
}

.bloodstocks-levels {
  margin: 5% 10%;
}

.stocks-setlevel {
  color: black;
}

/* Events Donor Profile Styling */

.events h3 {
  text-align: center;
}

.events img {
  float: left;
  margin-right: 10px;
}

.profile .events {
  border: 2px solid #700000;
}

.history-event p {
  padding-top: 10px;
}
.history-event .time-tag {
  display: block;
  text-align: right;
}

.profile .panel-lower {
  margin-bottom: 20px;
}

/* ----------------------------- */


/* Events Page Styling */

.events-panel{
  margin: 20px;
  text-align: center;
  color:white;
}

.events-panel p {
  margin: 5px;
  font-family: 'Open Sans';
}

.events-panel h3 {
  font-family: 'Lato';
}

.events-donors img {
  max-width: 70px;
  max-height: 70px;
}

.events-donors {
  border: 2px solid #eeeeee;
  margin: 15px;
  padding: 5px;
  display: inline-block;
}

.events-donors p {
  margin-top: 10px;
}
.events-panel button{
  display: block;
  margin: 0 auto;
}

.events-donors div {
  margin: 15px 15px 5px 15px;
  display: inline-block;
}

/* ----------------------------- */

/* Hospital Private Profile Events */

.events-hospital-profile {
  color: white;
}

.events-hospital-profile p p {
  display: block;
}

.events-hospital-profile img {
  float: left;
  margin: 2px;
  margin-right: 10px;
}

.review {
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.reviews h3 {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

/* ----------------------------- */

/* Map Events area */

.map-events {
  color: white;
  text-align: center;
  margin-top: 20px;
}
.map-events img {
  margin: 5px;
}

.map-events-header {
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}

/* ----------------------------- */


/* Navbar Styling */

#index-top-bar {
  color: white;
  background-color: #700000;
  padding: 15px;
}

.glyphicon {
  margin-left: -5px;
  margin-right: 15px;
  font-size: 1.2em;
}

.glyphicon-burger-menu {
  font-size: 1.5em;
}

.navbar {
  border: none;
  position: fixed;
  z-index: 99;
}

.navbar {
  min-height: 0px;
}

@media only screen and (max-width: 780px) {
 .navbar {
  width: 100vw;
  position: relative;
  z-index: 99;
  text-align: center;
}
.nav li a {
  padding: 25px 25px;
  font-size: 1.5em;
}
}
