<div class="container profile">
  <div class="col-md-8">
    <div class="panel-body">
      <div class="col-md-6">
        <img ng-src="{{ProfileCtrl.user.photo}}" class="img-circle center-block img-profile"/>
      </div>
      <div class="col-md-6 userInfo-table">
        <div ng-hide="ProfileCtrl.edit" class="table-user-information">
          <div>
            <span class="profile-info-labels">Display Name:</span>
            <p>{{ProfileCtrl.user.name}}</p>
          </div>
          <div>
            <span class="profile-info-labels">Email:</span>
            <p>{{ProfileCtrl.user.email}}</p>
          </div>
          <div>
            <span class="profile-info-labels">Blood Type:</span>
            <p>{{ProfileCtrl.user.bloodtype}}</p>
          </div>
          <div>
            <span class="profile-info-labels">Address:</span>
            <p>{{ProfileCtrl.user.address}}</p>
          </div>
        </div>
        <div>
          <button ng-hide="ProfileCtrl.edit" ng-click="ProfileCtrl.Edit()" class="profile-button btn">
            <span>Edit Info</span>
          </button>
          <div ng-show="ProfileCtrl.edit">
            <form ng-submit="ProfileCtrl.updateUser()"  class="simple-form profile-edit-form">
              <label for="name">Display Name:</label>
              <input type="text" name="name" ng-model="ProfileCtrl.user.name" />
              <label for="email">Email</label>
              <input type="email" name="email" ng-model="ProfileCtrl.user.email" />
              <label for="location">Location:</label>
              <input type="text" name="location" id="address" ng-model="ProfileCtrl.user.address" name="address" ng-change="ProfileCtrl.getlatlong()"/>
              <label for="bloodtype">Blood Type:</label>
              <select name="bloodtype" ng-model="ProfileCtrl.user.bloodtype">
                <option ng-repeat="type in ProfileCtrl.bloodTypes" value="{{type}}">{{type}}</option>
              </select>
              <input type="submit" id="submit" value="Submit" class="btn profile-button"/>
              <button ng-show="ProfileCtrl.edit" ng-click="ProfileCtrl.Edit()" type="button" class="profile-button-cancel btn">
                <span>Cancel Edit</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-body panel-lower events">
    <h3>Upcoming Events</h3>
      <div class="event" ng-repeat="appointment in ProfileCtrl.user.appointments | filter:ProfileCtrl.upcoming">
        <img src="assests/heart.png"/>
        <p>
          You have an appointment to donate blood at <a ng-href="#hospital/profile/{{appointment.hospital.id}}">{{appointment.hospital.name}}</a>.
        </p>
        <p>
          Your appointment time is at {{appointment.time | date:'medium'}}. Way to go!
        </p>
      </div>
    </div>
    <div class="panel-body panel-lower events">
      <h3>Event History</h3>
      <div class="event history-event" ng-repeat="appointment in ProfileCtrl.user.appointments | filter:ProfileCtrl.past">
        <div ng-show="{{appointment.type === 1}}">
          <img src="assests/heart.png"/>
          <p>
            You donated blood at <a ng-href="#hospital/profile/{{appointment.hospital.id}}">{{appointment.hospital.name}}</a>. The clot thickens!
          </p>
        </div>
        <div ng-show="{{appointment.type === 2}}">
          <img src="assests/buddy.png"/>
          <p>
            You participated in an event <a ng-href="#hospital/profile/{{appointment.hospital.id}}">{{appointment.hospital.name}}</a>. Way to pool your efforts!
          </p>
        </div>
        <div ng-show="{{appointment.type === 3}}">
          <img src="assests/medical.png" />
          <p>
            You drew blood from a stone and helped a blood-buddy get over his fear of needles!
          </p>
        </div>
        <p class="time-tag"><time>{{appointment.time | date:'medium'}}</time></p>
      </div>
    </div>
  </div>
  <div class="col-md-4 center-block">
    <div class="connections">
      <div class="friends">
        <h4>Friends</h4>
        <div class="friend" ng-repeat="friend in ProfileCtrl.user.friends">
          <img ng-src="{{friend.photo}}" /><a ng-href='#profile/{{friend.id}}'>{{friend.name}}</a>
        </div>
      </div>
      <div class="favorite-hospital">
        <h4>Favorite Hospitals</h4>
        <p ng-repeat="hospital in ProfileCtrl.hospitals">
          <a class="hospital" ng-href="#hospital/profile/{{hospital.model.id}} | limitTo:5" >{{hospital.model.name}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
