<div id="hospital-login">
  <div class="panel-body login-panel">
    <h3>Login for Hospitals</h3>
    <form ng-submit="HospitalAuthCtrl.login()">
      <div class="align-inputs">
        <p>
          Enter your hospital email:
        </p>
      </div>
      <input class="center-block form-control login-input" type="email" ng-model="HospitalAuthCtrl.loginObj.email" required/>
      <div class="align-inputs">
        <p>
          Enter your password:
        </p>
      </div>
      <input class="center-block form-control login-input" type="password" ng-model="HospitalAuthCtrl.loginObj.password" required/>
      <button class="center-block btn profile-button">Login</button>
    </form>
    <p>
    <a href="/auth/facebook"><img class="facebutton-img" src="../assests/facebutton3.png"/>Log in with Facebook</a>
    </p>
    <p>
      Don't have an account?
      <a href="#hospital/signup">Sign up!</a>

    </p>
  </div>
</div>
