<div class="container hospital-profile">
  <div class="col-md-8">
    <div class="panel-body">
      <div class="public-view" ng-hide="HospitalProfileCtrl.edit">
        <div class="col-md-6">
          <img src="{{HospitalProfileCtrl.hospital.photo}}" alt="No Image Provided" onError="this.src = 'assests/hosp.jpg';" class="img-circle center-block img-profile" />
          <div class="hospital-blood-panel">
            <nvd3 options="options" data="data" forceY='[50, 20]' api="api"></nvd3>
          </div>
        </div>
        <div class="col-md-6 userInfo-table">
          <div class="table-user-information">
            <div>
              <span class="profile-info-labels">Display Name:</span> <br/>
              <p>{{HospitalProfileCtrl.hospital.name}}</p>
            </div>
            <div>
              <span class="profile-info-labels">Email:</span> <br/>
              <p>{{HospitalProfileCtrl.hospital.email}}</p>
            </div>
            <div>
              <span class="profile-info-labels">Address:</span>
              <p>{{HospitalProfileCtrl.hospital.address}}</p>
            </div>
            <div>
              <span class="profile-info-labels">Website:</span><br/>
              <p>{{HospitalProfileCtrl.hospital.hospitalurl}}</p>
            </div>
            <div>
              <span class="profile-info-labels">Phone Number:</span>
              <p>{{HospitalProfileCtrl.hospital.phonenum}}</p>
            </div>
          </div>
          <button ng-click="HospitalProfileCtrl.Edit()" class="profile-button btn" style="color: white;">Edit Info</button>
        </div>
      </div>
      <div ng-show="HospitalProfileCtrl.edit">
        <form ng-submit="HospitalProfileCtrl.update()" style="color: gray;">
          <div class="col-md-6">
            <p>Edit Information:</p>
            <p>
              Hospital name
              <input type="text" ng-model="HospitalProfileCtrl.hospital.name" ng-model-options="{ updateOn: 'submit'}" />
            </p>
            <p>
              Hospital email
              <input type="email" ng-model="HospitalProfileCtrl.hospital.email" ng-model-options="{ updateOn: 'submit'}" required/>
            </p>
            <p>
              Location
              <input type="text" id="address" ng-model="HospitalProfileCtrl.hospital.address" name="address" ng-change="HospitalProfileCtrl.getlatlong()" ng-model-options="{ updateOn: 'submit'}"/>
            </p>
            <p>
              Phone Number
              <input type="text"  ng-model="HospitalProfileCtrl.hospital.phonenum" ng-model-options="{ updateOn: 'submit'}"/>
            </p>
            <p>
              Website
              <input type="text"  ng-model="HospitalProfileCtrl.hospital.hospitalurl" ng-model-options="{ updateOn: 'submit'}" />
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Hospital Hours
              <p ng-repeat="schedule in HospitalProfileCtrl.schedule">
                <span>{{schedule.name}} :</span>
                <rzslider rz-slider-model="schedule.openhours"
                rz-slider-high="schedule.closehours"
                rz-slider-options="HospitalProfileCtrl.sliderOptions"></rzslider>
              </p>
            </p>
          </div>
          <button ng-click="HospitalProfileCtrl.Edit()" class="profile-button btn">Submit</button>
          <button type="button" ng-click="HospitalProfileCtrl.Edit()" class="profile-button btn">Cancel Edit</button>
        </form>
      </div>
    </div>
    <div class="col-md-3 panel-body panel-lower">
      <div class="events-hospital-profile">
        <div class="event" ng-repeat="event in HospitalProfileCtrl.hospital.events">
        <img src="assests/heart.png"/>
          <p> You are hosting <a ng-href="event/{{event.id}}">an event</a> on {{event.time | date}}, at {{event.time | date: 'shortTime'}}. </p>
            <p>{{event.donors.length === 1 ? '1 donor is' : event.donors.length +' donors are'}} currently confirmed to attend.</p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 friend-col-outer center-block">
    <div class="panel-body reviews"><h3>Reviews of your hospital:</h3>
      <div class="review" ng-repeat="review in HospitalProfileCtrl.hospital.reviews.slice().reverse()">
        <a href="profile/{{HospitalProfileCtrl.hospital.reviews.donor.id}}"><h4>{{review.donor.name}}:</h4></a>
        <p>{{review.content}}</p>
      </div>
    </div>
  </div>
</div>
