<div class="container hospital-profile">
  <div class="col-md-8">
    <div class="panel-body">
      <div class="public-view" ng-hide="HospitalProfileCtrl.edit">
        <div class="col-md-6">
          <img src="{{HospitalProfileCtrl.editObj.photo}}" alt="No Image Provided" onError="this.src = 'assests/hosp.jpg';" class="img-circle center-block img-profile" />
          <div class="hospital-blood-panel">
            <nvd3 options="options" data="data" forceY='[50, 20]' api="api"></nvd3>
          </div>
        </div>
        <div class="col-md-6 userInfo-table">
          <div class="table-user-information">
            <div>
              <span class="profile-info-labels">Username:</span>
              <br />
              <span>{{HospitalProfileCtrl.editObj.username}}</span>
            </div>
            <div>
              <span class="profile-info-labels">Display Name:</span> <br/>
              <span>{{HospitalProfileCtrl.editObj.name}}</span>
            </div>
            <div>
              <span class="profile-info-labels">Email:</span> <br/>
              <span>{{HospitalProfileCtrl.editObj.email}}</span>
            </div>
            <div>
              <span class="profile-info-labels">Address:</span>
              <span>{{HospitalProfileCtrl.editObj.address}}</span>
            </div>
            <div>
              <span class="profile-info-labels">Website:</span><br/>
              <span>{{HospitalProfileCtrl.editObj.hospitalurl}}</span>
            </div>
            <div>
              <span class="profile-info-labels">Phone Number:</span><br/> <span>{{HospitalProfileCtrl.editObj.phonenum}}</span>
            </div>
          </div>
          <button ng-click="HospitalProfileCtrl.Edit()" class="profile-button btn" style="color: white;">Edit Info</button>
        </div>
      </div>
      <div ng-show="HospitalProfileCtrl.edit">
        <form ng-submit="HospitalProfileCtrl.update()" style="color: gray;">
          <div class="col-md-6">
            <p>Edit Information:</p>
            <p>
              Hospital name
              <input type="text" ng-model="HospitalProfileCtrl.editObj.name" />
            </p>
            <p>
              Hospital email
              <input type="email" ng-model="HospitalProfileCtrl.editObj.email" required/>
            </p>
            <p>
              Location
              <input type="text" id="address" ng-model="HospitalProfileCtrl.editObj.address" name="address" ng-change="HospitalProfileCtrl.getlatlong()" />
            </p>
            <p>
              Phone Number
              <input type="text"  ng-model="HospitalProfileCtrl.editObj.phonenum" />
            </p>
            <p>
              Website
              <input type="text"  ng-model="HospitalProfileCtrl.editObj.hospitalurl" />
            </p>
          </div>
          <div class="col-md-6">
            <p>
              Hospital Hours
              <p ng-repeat="schedule in HospitalProfileCtrl.schedule">
                <span>{{schedule.name}} :</span>
                <rzslider rz-slider-model="schedule.openhours"
                rz-slider-high="schedule.closehours"
                rz-slider-options="slider.options"></rzslider>
              </p>
            </p>
          </div>
          <button ng-click="HospitalProfileCtrl.Edit()" class="profile-button btn">Submit</button>
          <button ng-click="HospitalProfileCtrl.Edit()" class="profile-button btn">Cancel Edit</button>
        </form>
      </div>
    </div>
    <div class="col-md-3 panel-body panel-lower" style="width: 100%;">
      <div class="table profile-table table-condensed">
        <div>
          <hr>
          <img src="assests/heart.png" />
          <span>You are hosting a blood drive at [SUBJECT HOMETOWN HERE] Park on October 31st, 2016. So far, [NUMBER] people have responded to say they will be attending.</span>
        </div>
        <hr>
        <div>
          <img src="assests/buddy.png" />
          <span>You and your BLOOD BUDDY went and donated blood together! What a true friend you are.</span>
        </div>
        <hr>
        <div>
          <img src="assests/kraken.png" />
          <span>Your potent virgin blood helped to summon C'thulhu, may his madness envelope the world. Thanks for your help!</span>
        </div>
        <hr>
        <div>
          <img src="assests/pizza.png" />
          <span>A piece of pizza was afraid of needles and didn't want to donate, but you convinced them by sharing your experiences! Wow-wee, all that rich pizza blood will come in handy.</span>
        </div>
        <hr>
        <div>
          <img src="assests/ghost.png">
          <span>You donated blood to a man who was later found guilty of murder, and since you're a part of that man now, the spiteful spirit of his victim now haunts you. Bummer! Better luck next time!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 friend-col-outer center-block">
    <div class="panel-body reviews">Here's what people have to say about you:
      <div class="review" ng-repeat="review in HospitalProfileCtrl.reviews">
        <h3>{{review.donor.name}}</h3>
        <p>{{review.content}}</p>
      </div>
    </div>
  </div>
</div>
