<div class="container hospital-profile">
  <div class="col-md-8">
    <div class="panel-body">
      <div class="public-view" ng-hide="HospitalProfileCtrl.edit">
        <div class="col-md-6">
          <img src="{{HospitalProfileCtrl.hospital.photo}}" alt="No Image Provided" onError="this.src = '/assests/hosp.jpg';" class="img-circle center-block img-profile" />
          <div class="hospital-blood-panel">
            <nvd3 options="options" data="data" forceY='[50, 20]' api="api"></nvd3>
          </div>
        </div>
        <div class="col-md-6 userInfo-table">
          <div class="table-user-information">
            <div>
              <span class="profile-info-labels">Hospital Name:</span> <br/>
              <p>{{HospitalProfileCtrl.hospital.name}}</p>
            </div>
            <div>
              <span class="profile-info-labels">Email:</span> <br/>
              <p>{{HospitalProfileCtrl.hospital.email}}</p>
            </div>
            <div>
              <span class="profile-info-labels">Address:</span>
              <p>{{HospitalProfileCtrl.hospital.address}}</p>
            </div>
            <div>
              <span class="profile-info-labels">Website:</span><br/>
              <p>{{HospitalProfileCtrl.hospital.hospitalurl}}</p>
            </div>
            <div>
              <span class="profile-info-labels">Phone Number:</span>
              <p>{{HospitalProfileCtrl.hospital.phonenum}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 panel-body panel-lower">
      <div class="events-hospital-profile">
      <h2 class='text-center'>Upcoming Events</h2>
        <div class="event" ng-repeat="event in HospitalProfileCtrl.hospital.events">
        <img src="/assests/heart.png"/>
          <p> You are hosting <a ng-href="event/{{event.id}}">an event</a> on {{event.time | date}}, at {{event.time | date: 'shortTime'}}. </p>
            <p>{{event.donors.length === 1 ? '1 donor is' : event.donors.length +' donors are'}} currently confirmed to attend.</p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 friend-col-outer center-block">
    <div class="panel-body reviews"><h3>Reviews for this hospital:</h3>
    <div class="form-horizontal hospital-review-form">
      <div class="form-group">
        <div class="col-md-12">
          <form>
          <textarea class="form-control" ng-model="HospitalProfileCtrl.reviewContent" rows="3" placeholder="Submit a Review" required></textarea>
          <button type="submit" class="review-button profile-button" ng-click="HospitalProfileCtrl.submitReview()">Submit</button>
          </form>
        </div>
      </div>
    </div>
      <div class="review" ng-repeat="review in HospitalProfileCtrl.hospital.reviews.slice()">
        <a href="profile/{{HospitalProfileCtrl.hospital.reviews.donor.id}}"><h4>{{review.donor.name}}:</h4></a>
        <p>{{review.content}}</p>
      </div>

    </div>
  </div>
</div>
