<div id="donor-login">
  <div class="panel-body login-panel">
    <h3>Login for donors</h3>
    <form ng-submit="DonorAuthCtrl.login()">
      <div class="align-inputs">
        <p>
          Enter your Email:
        </p>
      </div>
      <input class="center-block form-control login-input" type="email" ng-model="DonorAuthCtrl.loginObj.email" required/>
      <div class="align-inputs">
        <p>
          Enter your password:
        </p>
      </div>
      <input class="center-block form-control login-input" type="password" ng-model="DonorAuthCtrl.loginObj.password" required/>
      <button class="center-block btn profile-button">Login</button>
    </form>
    <form action="/auth/facebook" method="post">
      <button type="submit" class="center-block facebook-btn">
        <img class="facebutton-img" src="../assests/facebutton3.png"/>Log in with Facebook
      </button>
    </form>
    <p class="signup-text new-account">
      Don't have an account?
      <a href="/donor/signup">Sign up!</a>
    </p>
    <p class="signup-text">Are you a hospital and not a donor?
    <a href="/hospital/login">Head over here</a>
    </p>
  </div>
</div>
