<div id="donor-signup">
  <div class="panel-body login-panel">
    <h3>Sign up as a Donor</h3>
    <form ng-submit="DonorAuthCtrl.signup()">
      <div class="align-inputs">
        <p>
          Enter your email:
        </p>
      </div>
      <input class="center-block form-control login-input" type="email" ng-model="DonorAuthCtrl.signupObj.email" required/>
      <div class="align-inputs">
        <p>
          Enter your password:
        </p>
      </div>
      <input class="center-block form-control login-input" type="password" ng-model="DonorAuthCtrl.signupObj.password" required/>
      <button class="center-block btn profile-button">Sign up!</button>
    </form>
    <p>
    <a href="/auth/facebook"><img class="facebutton-img" src="../assests/facebutton3.png"/>Log in with Facebook</a>
    </p>
    <p class="signup-text">Are you a hospital and not a donor?
      <a href="/hospital/signup">Head over here</a>
    </p>
    <p class="signup-text"> Already have an account? <a href="/donor/login">Go here!</a></p>
  </div>
</div>

