
<div class="container map-page">
  <div class="blooodmap col-md-8">
    <div id="googleMap" style="position: relative;"></div>
    <div id='floating-panel'><nvd3 options="options" data="data" forceY='[50, 20]' api="api"></nvd3></div>
  </div>
  <div class="feed col-md-4" ng-controller="FeedController as FeedCtrl">
    <div class="feed-new">
      <label for="post-content">Send a message!</label>
      <form ng-submit="FeedCtrl.submit()">
        <input name="post-content" id="post-content" type="text" ng-model="FeedCtrl.content">
        <input type="submit">
      </form>
    </div>
    <div class="feed-content">
      <div class="post clearfix" ng-repeat="post in FeedCtrl.posts">
        <img ng-src="{{post.donor.photo}}" alt="Poster Photo">
        <span class="poster-name">{{post.donor.name || post.hospital.name}}</span>
        <p>{{post.content}}</p>
      </div>
    </div>
  </div>
  <div id="chart1" class='donor-chart'>
      <svg></svg>
  </div>

  <div class="col-md-6">
    <div class="events"ng-controller="MapEventController as MapEventCtrl">
      <h3 ng-show="MapEventCtrl.events.length === 0">No events in this area</h3>
      <div class="event" ng-repeat="event in MapEventCtrl.events">
        <a ng-href="#event/{{event.id}}"><h3>{{event.hospital.name}}</h3>
        <a ng-href="#event/{{event.id}}"></a><h4>{{event.time | date:('medium')}}</h4>
        <h5>{{event.donors.length}} Participating:</h5>
        <a ng-repeat="donor in event.donors" ng-href="#profile/{{donor.id}}"><img  ng-src="{{donor.photo}}" alt="Donor photo"></a>
      </div>
    </div>

  </div>
</div>

