<div>
  <h2>{{EventCtrl.event.hospital.name}}</h2>
  <h3>{{EventCtrl.event.time | date:'medium'}}</h3>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#confirm-modal">Join this event</button>
  <div class="donors">
    <div class="donor" ng-repeat="donor in EventCtrl.event.donors">
      <img ng-src="{{donor.photo}}" alt="Profile Photo">
      <h4>{{donor.name}}</h4>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="confirm-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Join This Event</h4>
        </div>
        <div class="modal-body">
          <p>Join this event and set an appointment for {{EventCtrl.event.time}}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="EventCtrl.join()">Make appointment</button>
        </div>
      </div>
    </div>
  </div>
</div>
