<div class="container events-page">
  <div class="panel-body events-panel">
    <p> Hey! There's an event happening at </p><h2><a href="hospital/profile/{{EventCtrl.event.hospital.id}}">{{EventCtrl.event.hospital.name}}</h2></a>
    <p>And it's happening on</p>
    <h3>{{EventCtrl.event.time | date}}</h3> <p> at</p> <h3>{{EventCtrl.event.time | date: 'shortTime'}}</h3>
    <div class="events-donors">
    <p> And all these cool people are going</p>
      <div class="donor" ng-repeat="donor in EventCtrl.event.donors">
        <img ng-src="{{donor.photo}}" alt="Profile Photo">
        <h4><a href="profile/{{donor.id}}">{{donor.name}}</a></h4>
      </div>
    </div>
    <button type="button" class="btn btn-lg profile-button" data-toggle="modal" data-target="#confirm-modal">Do you wanna join them?</button>

    <!-- Modal -->
    <div class="modal fade" id="confirm-modal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Join This Event</h4>
          </div>
          <div class="modal-body">
            <p>Join this event and set an appointment for {{EventCtrl.event.time}}?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="EventCtrl.join()">Make appointment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
