<div id="hospital-edit-container">
  <h3>Initial Hospital Setup</h3>
  <form ng-submit="HospitalAuthCtrl.edit()">
    <p>
      Enter your hospital name
      <input type="text" ng-model="HospitalAuthCtrl.editObj.name" required/>
    </p>
    <p>
      Enter your hospital location
      <input type="text" ng-model="HospitalAuthCtrl.editObj.location" required/>
    </p>
    <p>
      Rank blood A+
      <input type="text" ng-model="HospitalAuthCtrl.editObj.bloodObj.aP" required/>
    </p>
    <p>
      Rank blood A-
      <input type="text" ng-model="HospitalAuthCtrl.editObj.bloodObj.aN" required/>
    </p>
    <p>
      Rank blood B+
      <input type="text" ng-model="HospitalAuthCtrl.editObj.bloodObj.bP" required/>
    </p>
    <p>
      Rank blood B-
      <input type="text" ng-model="HospitalAuthCtrl.editObj.bloodObj.bN" required/>
    </p>
    <p>
      Rank blood AB+
      <input type="text" ng-model="HospitalAuthCtrl.editObj.bloodObj.abP" required/>
    </p>
    <p>
      Rank blood AB-
      <input type="text" ng-model="HospitalAuthCtrl.editObj.bloodObj.abN" required/>
    </p>
    <p>
      Rank blood O+
      <input type="text" ng-model="HospitalAuthCtrl.editObj.bloodObj.oP" required/>
    </p>
    <p>
      Rank blood O-
      <input type="text" ng-model="HospitalAuthCtrl.editObj.bloodObj.oN" required/>
    </p>
    <button>Submit</button>
  </form>
</div>
