<div id="calendar-container">
  <div ng-hide="CalendarCtrl.isHospital" ng-hide="CalendarCtrl.isHospital">
  <h3>Schedule an Appointment!</h3>
    You must be signed into google to see your information
    <button ng-click="CalendarCtrl.googleSignin()">Sign in with google</button>
  </div>
  <div ng-show="CalendarCtrl.isHospital">
  <h3>Create an Event!</h3>
    Click here to create a new event
    <form ng-submit="CalendarCtrl.createEvent()">
      <!-- Title: <input type="text" ng-model="CalendarCtrl.title"/> -->
      Time: <input id="datetimepicker" type="text" ng-model="CalendarCtrl.dateTime">
      <button>Schedule it!</button>
    </form>
  </div>



<!--   <form ng-submit="CalendarCtrl.createEvent()">

  </form> -->

<!--Start Blood Buddy -->


<span>
 <h4>Find me a blood buddy...<input type="checkbox" class="checkbox checkbox-inline" ng-model="CalendarCtrl.buddy" /></h4>
</span>

  <!--End Blood Buddy -->


  <p>
    <!-- If you deleted an event from your calendar, click -->
    <button ng-click="CalendarCtrl.reload()">refresh</button>
  </p>
  <!-- <button ng-click="CalendarCtrl.automateDates()">Let Us Pick Dates!</button> -->

  <div class="fb-share-button"
    data-href="http://52.39.22.12:8080"
    data-layout="button_count">
 </div>

  <!-- <button ng-click="CalendarCtrl.automateDates()">Let Us Pick Dates!</button> -->
  <div id="calendar"></div>

  <!-- Modal -->
  <div class="modal box1 fade" id="confirm-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Schedule an Appointment</h4>
        </div>
        <div class="modal-body">
          <p>Schedule and set an appointment for {{CalendarCtrl.view.time.print}}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CalendarCtrl.firstModal()">Make appointment</button>
        </div>
      </div>
    </div>
  </div>


  <!-- blood buddy box 3 -->
   <div class="modal box3 fade" id="confirm-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm your time to find a buddy</h4>
        </div>
        <div class="modal-body">
          <p>Would you like to find a buddy and schedule an appointment for {{CalendarCtrl.view.time.print}}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CalendarCtrl.buddyoneModal()">Confirm</button>
        </div>
      </div>
    </div>
  </div>

  <!-- end of blood buddy box 3 -->

  <div class="modal box2 fade" id="confirm-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p>Event on {{CalendarCtrl.view.time.print}}?</p>
          <h4 class="modal-title">Select Options</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="checkbox input1">
              <label><input type="checkbox" /> Share on facebook</label>
            </div>
            <div class="checkbox input2">
              <label><input type="checkbox" /> Create an Event</label>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CalendarCtrl.secondModal()">Make appointment</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal box4 fade" id="confirm-modal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p>Event on {{CalendarCtrl.view.time.print}}?</p>
          <h4 class="modal-title">Select Options to Find a buddy</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="checkbox input1">
              <label><input type="checkbox" />Share on facebook </label>
            </div>
            <div class="fb-share-button"
              data-href="http://52.39.22.12:8080/#/"
              data-layout="button_count">
           </div>

            <div class="checkbox input3">
              <label><input type="checkbox" /> Post a message</label>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="CalendarCtrl.buddytwoModal()">Find a buddy</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
