<div id="calendar-container">
  <h3>Schedule an Appointment!</h3>
  <form ng-submit="CalendarCtrl.createEvent()">
    <p>
      Choose a date: <input type="date" ng-model="CalendarCtrl.dateTime"/>
      <button>Schedule it!</button>
    </p>
  </form>
  <p>
    If you deleted an event from your calendar, click
    <button ng-click="CalendarCtrl.reloadRoute()">refresh</button>
  </p>
  <div id="calendar"></div>
  <script type='text/javascript'>
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        events: '/api/calendar/'
      });
    });
  </script>
  <!-- <h3>Calendar</h3>
  <div id="calendar-summary">
    <p>Account: <b>{{CalendarCtrl.events.summary}}</b></p>
    <p>Updated: <b>{{CalendarCtrl.events.updated}}</b></p>
  </div>

  <div id="calendar-form-wrapper">
    <h3>Schedule an Event</h3>
    <form>

    </form>
  </div>

  <div id="calendar-events-wrapper">
    <h3>Upcoming Events</h3>
    <div ng-repeat="item in CalendarCtrl.events.items" style="border: double">
      <p><b>status:</b> {{item.status}}</p>
      <p><b>htmlLink:</b> {{item.htmlLink}}</p>
      <p><b>created:</b> {{item.created}}</p>
      <p><b>updated:</b> {{item.updated}}</p>
      <p><b>summary:</b> {{item.summary}}</p>
      <p><b>location:</b> {{item.location}}</p>
      <p><b>creator:</b> {{item.creator.displayName}} <{{item.creator.email}}></p>
      <p><b>organizer:</b> {{item.organizer.displayName}} <{{item.organizer.email}}</p>
      <p><b>start:</b> {{item.start.dateTime}}</p>
      <p><b>end:</b> {{item.end.dateTime}}</p>
    </div>
  </div> -->
</div>
